@model  IEnumerable<JsPlc.Ssc.Link.Models.TeamView>

<h2>My Team</h2>

<div>
    <hr />
    <table class="table" style="width: 70%">
        <thead>
            <tr>
                <td><strong>Colleague Id</strong></td>
                <td><strong>First Name</strong></td>
                <td><strong>Last Name</strong></td>
                <td><strong>Meeting </strong></td>
                <td><strong>Meetings </strong></td>
                <td></td>
                
            </tr>
        </thead>

        @foreach (var employee in Model)
        {
            <tr>
                <td>@Html.DisplayFor(e => employee.ColleagueId)</td>
                <td>@Html.DisplayFor(e => employee.FirstName)</td>
                <td>@Html.DisplayFor(e => employee.LastName)</td>
                <td>@Html.ActionLink("Create New", "Create", "LinkForm", new { employeeId = employee.ColleagueId, periodId = 1 }, null)</td>
                <td>
                    @if (employee.Meetings != null)
                    {
                        foreach (var meeting in employee.Meetings)
                        {
                            @Html.ActionLink(meeting.MeetingDate.ToShortDateString(), "ViewMeeting", "LinkForm", new { id = meeting.Id }, null)
                            <br />
                        }
                    }
                </td>
                
            </tr>

            @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@

        }
    </table>
</div>
<meeting-history></meeting-history>
<p>
    
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
<script type="text/javascript">
    require(["jquery", "knockout", "LinkService", "RegisterKoComponents"],
    function ($, ko, LinkService) {
        var meetingsData = LinkService.getAllReporteeMeetings("E0010");

        ko.applyBindings();
    });
</script>