@using JsPlc.Ssc.Link.Models
@model  IEnumerable<JsPlc.Ssc.Link.Models.TeamView>
@{
    var currentUser = TempData["CurrentUser"] as UserView;
    string managerId = ""; // manager LoggedId, so get their colleagueId
    if (currentUser != null && currentUser.Colleague != null && currentUser.Colleague.ColleagueId != null)
    {
        managerId = currentUser.Colleague.ColleagueId;
    }
}
<h2>My Team - Old view from Sprint 1 (not to be used)</h2>

<div>
    <hr />
    <table class="table" style="width: 70%">
        <thead>
            <tr>
                <td><strong>Colleague Id</strong></td>
                <td><strong>First Name</strong></td>
                <td><strong>Last Name</strong></td>
                <td><strong>Meeting </strong></td>
                <td><strong>Meetings </strong></td>
                <td></td>
                
            </tr>
        </thead>

        @foreach (var employee in Model)
        {
            <tr>
                <td>@Html.DisplayFor(e => employee.ColleagueId)</td>
                <td>@Html.DisplayFor(e => employee.FirstName)</td>
                <td>@Html.DisplayFor(e => employee.LastName)</td>
                <td>@Html.ActionLink("Create New", "Create", "LinkForm", new { colleagueId = employee.ColleagueId }, null)</td>
                <td>
                    @if (employee.Meetings != null)
                    {
                        foreach (var meeting in employee.Meetings)
                        {
                            if (meeting.Status == MeetingStatus.Completed)
                            {
                                //Html.ActionLink(meeting.MeetingDate.ToShortDateString(), "ViewMeeting", "LinkForm", new { id = meeting.MeetingId }, new { @class = "meeting-completed" })

                                Html.ActionLink(meeting.MeetingDate.ToShortDateString(), "MakeFromDb", "Pdf", new { MeetingId = meeting.MeetingId }, new { @class = "meeting-completed", target = "_blank" })
                            }
                            else
                            {
                                @Html.ActionLink(meeting.MeetingDate.ToShortDateString(), "Edit", "LinkForm", new { id = meeting.MeetingId }, new { @class = "meeting-incomplete" })
                            }
                            <br />
                        }
                    }
                </td>

                
            </tr>

            @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@

        }
    </table>
</div>
@*<meeting-history params='data: $root[0]'></meeting-history>*@
    <p>

        @*@Html.ActionLink("Back to List", "Index")*@
    </p>
    <script type="text/javascript">
        require(["jquery", "knockout", "LinkService", "RegisterKoComponents"],
            function ($, ko, LinkService) {

                var mgrId = '@managerId';
                console.log("Pull meetings for managerId:" + mgrId);
                if (mgrId != '') {
                    var $promise = LinkService.getAllReporteeMeetings(mgrId);
                    $promise.done(function(koViewModel) {
                        ko.applyBindings(koViewModel); // not currently used, TODO bind it to the Prettier view created by team.
                    });
                }
            });

    </script>
