
@{
    ViewBag.Title = "My Team";
}


    <h1>@ViewBag.Title</h1>
    <div id="linkpage">

      

        <div class="row" style="margin-bottom:40px;">
                
            <div class="col-md-4">

                <div class="col-md-6">
                    <img src="http://www.freelanceme.net/Images/default%20profile%20picture.png" alt="..." class="img-circle" width="130">

                    <div class="col-md-12">
                        <br />
                        <button type="button" class="btn btn-primary btn-sm">Create Review</button>
                    </div>
                </div>

                <div class="col-md-6">
                    <h2 style="padding:0px;margin:0px;">Name</h2>

                    @Html.Partial("../LinkForm/_ListMeetingsPartial")

                </div>
            </div>

            <div class="col-md-4">

                <div class="col-md-6">
                    <img src="http://www.freelanceme.net/Images/default%20profile%20picture.png" alt="..." class="img-circle" width="130">

                    <div class="col-md-12">
                        <br />
                        <button type="button" class="btn btn-primary btn-sm">Create Review</button>
                    </div>
                </div>

                <div class="col-md-6">
                    <h2 style="padding:0px;margin:0px;">Name</h2>

                    @Html.Partial("_ListMeetingsPartial")

                </div>
            </div>

            <div class="col-md-4">

                <div class="col-md-6">
                    <img src="http://www.freelanceme.net/Images/default%20profile%20picture.png" alt="..." class="img-circle" width="130">

                    <div class="col-md-12">
                        <br />
                        <button type="button" class="btn btn-primary btn-sm">Create Review</button>
                    </div>
                </div>

                <div class="col-md-6">
                    <h2 style="padding:0px;margin:0px;">Name</h2>

                    @Html.Partial("_ListMeetingsPartial")

                </div>
            </div>
               
            
          
        </div>

        <div class="row" style="margin-bottom:20px;">
            <div class="col-md-4">

                <div class="col-md-6">
                    <img src="http://www.freelanceme.net/Images/default%20profile%20picture.png" alt="..." class="img-circle" width="130">

                    <div class="col-md-12">
                        <br />
                        <button type="button" class="btn btn-primary btn-sm">Create Review</button>
                    </div>
                </div>

                <div class="col-md-6">
                    <h2 style="padding:0px;margin:0px;">Name</h2>

                    @Html.Partial("_ListMeetingsPartial")

                </div>
            </div>

            <div class="col-md-4">

                <div class="col-md-6">
                    <img src="http://www.freelanceme.net/Images/default%20profile%20picture.png" alt="..." class="img-circle" width="130">

                    <div class="col-md-12">
                        <br />
                        <button type="button" class="btn btn-primary btn-sm">Create Review</button>
                    </div>
                </div>

                <div class="col-md-6">
                    <h2 style="padding:0px;margin:0px;">Name</h2>

                    @Html.Partial("_ListMeetingsPartial")

                </div>
            </div>

            <div class="col-md-4">

                <div class="col-md-6">
                    <img src="http://www.freelanceme.net/Images/default%20profile%20picture.png" alt="..." class="img-circle" width="130">

                    <div class="col-md-12">
                        <br />
                        <button type="button" class="btn btn-primary btn-sm">Create Review</button>
                    </div>
                </div>

                <div class="col-md-6">
                    <h2 style="padding:0px;margin:0px;">Name</h2>

                    @Html.Partial("_ListMeetingsPartial")

                </div>
            </div>
        </div>


        <div class="row" style="margin-bottom:20px;">
            <div class="col-md-4">

                <div class="col-md-6">
                    <img src="http://www.freelanceme.net/Images/default%20profile%20picture.png" alt="..." class="img-circle" width="130">

                    <div class="col-md-12">
                        <br />
                        <button type="button" class="btn btn-primary btn-sm">Create Review</button>
                    </div>
                </div>

                <div class="col-md-6">
                    <h2 style="padding:0px;margin:0px;">Name</h2>

                    @Html.Partial("_ListMeetingsPartial")

                </div>
            </div>

            <div class="col-md-4">

                <div class="col-md-6">
                    <img src="http://www.freelanceme.net/Images/default%20profile%20picture.png" alt="..." class="img-circle" width="130">

                    <div class="col-md-12">
                        <br />
                        <button type="button" class="btn btn-primary btn-sm">Create Review</button>
                    </div>
                </div>

                <div class="col-md-6">
                    <h2 style="padding:0px;margin:0px;">Name</h2>

                    @Html.Partial("_ListMeetingsPartial")

                </div>
            </div>

            <div class="col-md-4">

                <div class="col-md-6">
                    <img src="http://www.freelanceme.net/Images/default%20profile%20picture.png" alt="..." class="img-circle" width="130">

                    <div class="col-md-12">
                        <br />
                        <button type="button" class="btn btn-primary btn-sm">Create Review</button>
                    </div>
                </div>

                <div class="col-md-6">
                    <h2 style="padding:0px;margin:0px;">Name</h2>

                    @Html.Partial("_ListMeetingsPartial")

                </div>
            </div>
        </div>

       
        <nav>
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

       

    </div>



       
              
