@model JsPlc.Ssc.Link.Portal.Models.LinkForm

@{
    ViewBag.Title = "Create1";
}

<h2>Create1</h2>

@using (Html.BeginForm("Create", "LinkForm", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>LinkForm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Complete, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Complete)
                    @Html.ValidationMessageFor(model => model.Complete, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LinkDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LinkDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LinkDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Period, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Period, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Period, "", new { @class = "text-danger" })
            </div>
        </div>


        @foreach (var q in Model.questions)
        {
            
            
            
           
            <div class="form-group">
                @Html.Label(q.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                     @Html.TextArea("Question.ColleageComments" + q.Id, q.ColleageComments, new { htmlAttributes = new { @class = "form-control" } })
                     @Html.TextArea("Question.ManagerComments" + q.Id, q.ManagerComments, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

        }


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
