@using JsPlc.Ssc.Link.Models

@{
    ViewBag.Title = "Link conversation";
    var currentUser = TempData["CurrentUser"] as LinkUserView;
    if (currentUser == null)
    {
        Response.Redirect("~/Home/Unauthorized?unauthPage=Link Meeting");
        return;
    }
}

<div class="myPageContainer">
    <div id="linkpage" style="display: none;" data-bind="visible: true">
        <div id="breadcrumbs">@Html.MvcSiteMap().SiteMapPath()</div>
        <!-- knockout binding to this -->
        <div id="msgs"></div>
        <div style="display: none;" data-bind="visible: !$root.dataAvailable()">
            <h2 style="color: red">Cannot retrieve conversation. Cannot edit completed conversations.</h2>
        </div>
        <form id="myform" method="post" style="display: none;" data-bind="submit: saveLinkForm, visible: $root.dataAvailable">

            <!-- Manager view: show colleague name banner -->
            <!--<div class="row meeting-banner" style="display: none" data-bind="visible: !dataModel().IsColleagueView">
                <div class="col-xs-3 col-md-4"></div>
                <div class="col-xs-6 col-md-4"><span class="colleagueInfo" data-bind="text: $root.dataModel().ColleagueName"></span></div>
                <div class="col-xs-3 col-md-4"></div>
            </div>-->

            <!-- Colleague view: show manager name banner -->
            <!--<div class="row meeting-banner" style="display: none" data-bind="visible: dataModel().IsColleagueView">
                <div class="col-xs-3 col-md-4"></div>
                <div class="col-xs-6 col-md-4"><span class="colleagueInfo" data-bind="text: 'Line manager:' + $root.dataModel().ManagerName"></span></div>
                <div class="col-xs-3 col-md-4"></div>
            </div>-->

            <!-- Link conversation -->
            <div class="row">
                <div class="col-md-10">
                    <div class="heading-withdatepicker">
                        <h2>@ViewBag.Title<small><span class="colleagueInfo" data-bind="text: ' with ' + $root.dataModel().ManagerName"></span></small></h2>
                    </div>
                </div>
                <!-- Save button (top) -->
                <div class="col-md-2" data-bind="visible: (dataModel().SharingStatus==0)">
                    <br />
                    <button type="button" class="btn btn-default" data-bind="visible: $root.dataAvailable, click: saveLinkForm">Save</button>
                </div>
            </div>

            <!-- Meeting date/time picker, readonly when Shared or Completed -->
            <div class="row picker-row">
                <div class="content-inline" data-bind="visible: dataModel().ColleagueSignOff==0 && dataModel().SharingStatus==0">
                    <input type="text" id="MeetingDate" data-bind="value: dataModel().MeetingDate" class="datepicker form-control"
                           readonly name="MeetingDate" style="width:100px" />
                </div>
                <!-- readonly datepicker -->
                <div class="content-inline" data-bind="visible: dataModel().ColleagueSignOff==1 || dataModel().SharingStatus==1">
                    <input type="text" id="MeetingDate1" data-bind="value: dataModel().MeetingDate" class="form-control"
                           readonly disabled="disabled" name="MeetingDate1" style="width:100px" />
                </div>

                <div class="content-inline text-between-pickers">
                    <span>&nbsp;at&nbsp;</span>
                </div>

                <div class="content-inline" data-bind="visible: dataModel().ColleagueSignOff==0 && dataModel().SharingStatus==0">
                    <div class="input-group bootstrap-timepicker timepicker" style="width: 130px">
                        <input id="timepicker1" type="text" class="form-control input-small" data-bind="value: dataModel().MeetingTime">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                    </div>
                </div>
                <!-- readonly timepicker -->
                <div class="content-inline" data-bind="visible: dataModel().ColleagueSignOff==1 || dataModel().SharingStatus==1">
                    <div class="input-group" style="width: 130px">
                        <input id="timepicker2" type="text" readonly disabled="disabled" class="form-control input-small" data-bind="value: dataModel().MeetingTime">
                        <span class="input-group-addon" readonly disabled="disabled"><i class="glyphicon glyphicon-time"></i></span>
                    </div>
                </div>
            </div>

            <br />
            <!-- Conversation completed tick -->
            <!-- Colleague view: Completion section.. -->
            <div style="display: none" data-bind="visible: (dataModel().IsColleagueView && dataModel().ColleagueSignOff==0)">
                <input id="Checkbox2" type="checkbox" class="pointable"
                       data-bind="checked: dataModel().ColleagueSignOff,
                                    value: dataModel().ColleagueSignOff,
                                    enable: (dataModel().IsColleagueView),
                                    readonly: !(dataModel().IsColleagueView),
                                    click: $root.confirmCheckbox" name="CompletedColleague" />
                <span>Conversation complete - I have finished my conversation with my line manager</span>
            </div>

            <!-- When complete, this shows in Colleague view and Manager view -->
            <div data-bind="visible: dataModel().ColleagueSignOff==1">
                Conversation completed
                <span style="font-family:'Arial Bold', 'Arial';font-weight:500;font-size:15px;"
                      data-bind="text: $root.formatDateMonthDYHM($root.dataModel().ColleagueSignedOffDate) "></span>
            </div>

            <hr />

            <!-- Conversation record -->
            <div class="row">
                <h3 class="col-md-12 conversation-record-heading">Link conversation record</h3>
            </div>

            <!-- Columns are always 50% wide, on mobile and desktop -->
            <div data-bind="with: dataModel">
                <!--Looking Back -->

                <h3 class="linksection-heading">LOOKING BACK</h3>
                <!-- LinkForm data items here -->
                <!-- QUESTIONS Loop around this -->
                <div data-bind="foreach: LookingBackQuestions">

                    <h4 data-bind="text: Question , 'name': 'Question[' + QuestionId + '].Question'"></h4>
                    @*<div style="text-align:right;margin-top:-20px;">Discussed? <input type="checkbox" data-bind="checked: Discussed" /></div>*@

                    <!-- no collapse/expansion - always visible -->
                    <div class="row">
                        <div class="col-xs-12 comments-container">
                            @*<span>Comment:</span><br />*@
                            <textarea data-bind="text: ColleagueComment, value:ColleagueComment, enable: $parent.ColleagueId=='@currentUser.Colleague.ColleagueId'"
                                      rows="2" id="ques1text" placeholder="Enter comments here (max 5000 chars)" maxlength="5000"></textarea><br />
                            <!-- xevent: {keyup: UpdCharCount('#ques1text', '#ques1chars'), keypress: UpdCharCount('#ques1text', '#ques1chars'), paste: UpdCharCount('#ques1text', '#ques1chars')} -->
                            @*<span id="ques1chars"></span>*@
                        </div>
                    </div>
                </div>


                <!-- Looking Forward -->
                <h3 class="linksection-heading">LOOKING FORWARD</h3>

                <!-- QUESTIONS Loop around this -->
                <div data-bind="foreach: LookingFwdQuestions">

                    <h4 data-bind="text: Question , 'name': 'Question[' + QuestionId + '].Question'"></h4>

                    <div class="row">
                        <div class="col-xs-12 comments-container">
                            @*<span>Colleague Comment:</span><br />*@
                            <textarea data-bind="text: ColleagueComment, value:ColleagueComment, enable: $parent.ColleagueId=='@currentUser.Colleague.ColleagueId', attr: {maxlength:$index()==2?'400':'5000', placeholder: $index()==2?'Enter comments here (max 400 chars)':'Enter comments here (max 5000 chars)' }"
                                      rows="2" maxlength="5000"></textarea>
                        </div>
                    </div>
                </div>


                <!--  DRIVING MY DEVELOPMENT -->
                <h3 class="linksection-heading">DRIVING MY DEVELOPMENT</h3>

                <!-- QUESTIONS Loop around this -->
                <div data-bind="foreach: DrivingDevelopmentQuestions">

                    <h4 data-bind="text: Question , 'name': 'Question[' + QuestionId + '].Question'"></h4>

                    <div class="row">
                        <div class="col-xs-12 comments-container">
                            @*<span>Colleague Comment:</span><br />*@
                            <textarea data-bind="text: ColleagueComment, value:ColleagueComment, enable: $parent.ColleagueId=='@currentUser.Colleague.ColleagueId', attr: {maxlength:$index()==2?'400':'5000', placeholder: $index()==2?'Enter colleague here (max 400 chars)':'Enter comments here (max 5000 chars)' }"
                                      rows="2" maxlength="5000"></textarea>
                        </div>
                    </div>
                </div>


                <!--  IN A IN A NUTSHELL -->
                <h3 class="linksection-heading">IN A NUTSHELL</h3>
                <!-- QUESTIONS Loop around this -->
                <div data-bind="foreach: InANutShellQuestions">

                    <h4 data-bind="text: Question , 'name': 'Question[' + QuestionId + '].Question'"></h4>
                    @*<div style="text-align:right;margin-top:-20px;">Discussed? <input type="checkbox" data-bind="checked: Discussed" /></div>*@

                    <div class="row">
                        <div class="col-xs-12 comments-container">
                            @*<span>Colleague Comment:</span><br />*@
                            <textarea data-bind="text: ColleagueComment, value:ColleagueComment, enable: $parent.ColleagueId=='@currentUser.Colleague.ColleagueId', attr: {maxlength:$index()==2?'400':'5000', placeholder: $index()==2?'Enter comments here (max 400 chars)':'Enter comments here (max 5000 chars)' }"
                                      rows="2" maxlength="5000"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <!-- Sharing, Approval checkboxes -->
            <div class="alert alert-info col-xs-12" style="text-align: right;">
                <div class="col-xs-2">

                </div>
                <div class="col-xs-8">
                    <!-- Colleague view bottom part -->
                    <div style="display: none" data-bind="visible: dataModel().IsColleagueView">
                        &nbsp;&nbsp;
                        <input id="Checkbox3" type="checkbox" class="pointable"
                               data-bind="attr: {NOTBOUNDchecked: dataModel().ManagerSignOff},
                                                      value: dataModel().SharingStatus,
                                                      enable: (dataModel().IsColleagueView),
                                                      readonly: !(dataModel().IsColleagueView),
                                                      click: $root.unshareConversation" name="CheckboxShared" />
                        <span>Share with manager</span>
                    </div>

                    <!-- Manager view bottom part -->
                    <div style="display: none" data-bind="visible: !dataModel().IsColleagueView">
                        @*<-- Approval section.. (only show "Approved" box once colleague has marked "Completed") -->*@
                        <div style="display: none" data-bind="visible: (dataModel().ColleagueSignOff==1) && (dataModel().ManagerSignOff ==0)">
                            &nbsp;&nbsp;
                            <input id="Checkbox1" type="checkbox" class="pointable"
                                   data-bind="attr: {NOTBOUNDchecked: dataModel().ManagerSignOff},
                                                      value: dataModel().ManagerSignOff,
                                                      enable: !(dataModel().IsColleagueView),
                                                      readonly: (dataModel().IsColleagueView),
                                                      click: $root.approveConversation" name="CompletedMgr" />
                            <span>
                                I accept
                                    <span data-bind="text: $root.utils.getAposName(dataModel().Colleague.FirstName)"> </span>
                                conversation record.
                            </span>
                        </div>
                    </div>

                    <!-- Show approval date -->
                    <div data-bind="visible: (dataModel().ManagerSignOff == 1)">
                        Approved by <span data-bind="text: (dataModel().IsColleagueView) ? dataModel().ManagerName : 'you ' "></span>
                        on
                        <span style="font-family:'Arial Bold', 'Arial';font-weight:500;font-size:15px;"
                              data-bind="text: $root.formatDateMonthDYHM($root.dataModel().ManagerSignedOffDate) "></span>
                    </div>

                </div>
                <div class="col-xs-2" data-bind="visible: (dataModel().SharingStatus==0)">
                    <button type="button" class="btn btn-default" data-bind="visible: $root.dataAvailable, click: saveLinkForm">Save</button>
                    &nbsp; &nbsp;
                </div>

            </div>
        </form>

    </div><!-- end ko linkpage -->
</div>
<script type="text/javascript">
    require(["LinkFormCreate"]);
</script>

