@model JsPlc.Ssc.Link.Models.Entities.LinkPdp

<div>@Html.MvcSiteMap().SiteMapPath()</div>
<form action="pdp" method="post">
    <div class="form-horizontal">
        
        <div>
            <div class="row">
                <div class="col-md-2">
                    <img src="~/Content/Images/my-performance-icon.png" width="106" height="101" style="margin-top:30px;">
                </div>

                <div class="col-md-8">
                    <h1>Personal development plan</h1>
                    <hr/>
                    <p>A clear development plan helps you turn your ideas about your personal development into a tangible and action-focused plan</p>
                    <hr/>
                </div>
            </div>
            <hr/>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active pdpTab"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Achieving My Objectives</a></li>
                <li role="presentation" class="pdpTab"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Key Strengths</a></li>
                <li role="presentation" class="pdpTab"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Career Aspirations</a></li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="home">
                    <h3 class="printSectionTitle">Achieving my objectives</h3>
                    <h4 class="pdp-heading">What areas do I need to develop to achieve my objectives?</h4>@Html.HiddenFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })

                    @Html.EditorFor(model => model.achieveObjectives, new { htmlAttributes = new { @class = "form-control multilinePdp" } })

                    <h4 class="pdp-heading">What actions will I take?</h4>

                    @Html.EditorFor(model => model.achieveObjectivesActions, new { htmlAttributes = new { @class = "form-control multilinePdp" } })

                    <h4 class="pdp-heading">
                        By when?
                    </h4>

                    @Html.EditorFor(model => model.achieveObjectivesWhen, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div role="tabpanel" class="tab-pane fade" id="profile">
                    <h3 class="printSectionTitle">Key Strengths</h3>
                    <h4 class="pdp-heading">
                        What are my key strengths?
                    </h4>

                    @Html.EditorFor(model => model.keyStrengths, new { htmlAttributes = new { @class = "form-control multilinePdp" } })

                    <h4 class="pdp-heading">
                        What actions will I take to further develop these areas?
                    </h4>

                    @Html.EditorFor(model => model.keyStrengthsActions, new { htmlAttributes = new { @class = "form-control multilinePdp" } })

                    <h4 class="pdp-heading">
                        By when?
                    </h4>

                    @Html.EditorFor(model => model.keyStrengthsWhen, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div role="tabpanel" class="tab-pane fade" id="messages">
                    <h3 class="printSectionTitle">Career aspirations</h3>
                    <h4 class="pdp-heading">
                        What are my career aspirations?
                    </h4>

                    @Html.EditorFor(model => model.careerAspirations, new { htmlAttributes = new { @class = "form-control multilinePdp" } })



                    <h4 class="pdp-heading">
                        What actions do I need to take to move towards these aspirations?
                    </h4>

                    @Html.EditorFor(model => model.careerAspirationsActions, new { htmlAttributes = new { @class = "form-control multilinePdp" } })


                    <h4 class="pdp-heading">
                        By when?
                    </h4>

                    @Html.EditorFor(model => model.careerAspirationsWhen, new { htmlAttributes = new { @class = "form-control" } })
                </div>

            </div>

        </div>

        @*<div id="koDiv">
            <tab-pdp></tab-pdp>
        </div>*@
        <br/>
        <input type="submit" value="Save" class="btn btn-primary pull-right" />


       


    </div>


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" onclick="window.print()" data-target="#myModal">
        Print all
    </button>

    <!-- Modal -->



</form>
<script type="text/javascript">
    require(["pdp", "knockout", "RegisterKoComponents"], function (pdp, ko) {
        $(document).ready(function () {
            //ko.applyBindings({}, document.getElementById("koDiv"));
            if (@Html.Raw(Json.Encode(ViewBag.PdpUpdated))) {
                pdp.init(@Html.Raw(Json.Encode(ViewBag.PdpUpdated)));
            }
        });
    });
</script>

