<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Links Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <header class="link-banner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10">
                    <h1>Link</h1>
                    <p>State-of-the-art colleague appraisal system.</p>
                    @*<div id="carbonads-container">
                        <div class="carbonad">
                            <div id="azcarbon"><span><span class="carbonad-image"><a href="http://www.launchbit.com/taz/9533-6013-111/" target="_blank"><img width="130" height="100" border="0" src="https://launchbit.com/taz-i/6013-de5beb3281f55880e4fffbd24b58af203d58ae2b-bsa.png" class="carbonad-image carbonad-img" style="max-width:130px;"></a></span><span class="carbonad-text"><a href="http://www.launchbit.com/taz/9533-6013-111/">The Power of Three 97% of developers will fail you. We are the other 3%. Get access to power.</a></span><span class="carbonad-tag">ads via <a href="http://carbonads.com">Carbon</a></span><img src="https://www.launchbit.com/taz-pixel/9533-6013-111/" border="0" height="1" width="1" style="display: none;"></span></div>
                        </div>
                    </div>*@
                </div>
                <div class="col-sm-2 ">
                    <img src="~/Content/Images/logo.jpg" class="pull-right" />
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - © J Sainsbury plc 2015</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
