@using System.Activities.Statements
@using Microsoft.Ajax.Utilities
@using System.Configuration;
@using JsPlc.Ssc.Link.Models
@using JsPlc.Ssc.Link.Portal.Properties


@{
    var CurrentUser = TempData["CurrentUser"] as LinkUserView;
    string ColleagueId = CurrentUser == null ? "" : CurrentUser.Colleague.ColleagueId;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Cache disabling headers -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <!-- End Cache disabling headers -->

    <base href="@(Request.ApplicationPath == "/" ? "/" : Request.ApplicationPath + "/")">
    <link rel="shortcut icon icon" type="image/ico" href="favicon.ico" />
    <title>@ViewBag.Title - @Resources.AppName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" media="print" href="~/Content/print.css">
    <script type="text/javascript" src="~/Scripts/require.js"></script>
    <script type="text/javascript" src="~/Scripts/require.config.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
    require(["toastr", "LinkService", "common"], function (toastr, LinkService, common) {
            //common.setUserInfo("@ColleagueId");
            common.setUserInfo(@Html.Raw(Json.Encode(CurrentUser)));

            toastr.options = {
                "debug": false,
                "positionClass": "toast-top-center",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 3000,
                "extendedTimeOut": 1000
            };
            LinkService.setServiceBaseUrl("@(ConfigurationManager.AppSettings["ServicesBaseUrl"])");
    });
    </script>
    <meta name="description" content="Link application for Colleague-Manager Link Meetings and Performance appraisals" />
</head>
<body>
    <div class="row">
        @Html.Partial("_Tabs", new ViewDataDictionary { { "tabName", @ViewBag.Title } })
    </div>

    <div class="wrapper">
        <div class="container">

            <div  class="row @(Request.IsAuthenticated ? "" : "background1")">




                <div class="col-md-3" id="linkSecondaryNav">
                    @Html.Partial("_Navigation", new ViewDataDictionary { { "Navigation", @ViewBag.Title } })
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>

                @if (@ViewBag.Title == "Welcome to My performance")
                {
                    <div class="row">
                        <div class="col-md-12" style="padding-left:50px;padding-right:50px;padding-top:30px;">
                            @Html.Partial("_HomeContent", new ViewDataDictionary { { "Title", @ViewBag.Title } })

                        </div>
                    </div>
                }


            </div>

        <div class="push"></div>
    </div>



    <footer>
        <div class="navbar navbar-default link-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" style="text-align:center;">
                        <br/>

                        <a href="/home/help">Help</a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; <a href="/home/contact">Contact Us</a>&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;<a href="#">Log out</a>

                        <br/><br /><br />



    <div class="row">&copy; @DateTime.Now.Year - J Sainsbury PLC<br /><br /><small>@ViewBag.VersionNumber</small> </div>
</div>
                </div>
            </div>

        </div>
        @{
            var displaySvrInfo = "";
            displaySvrInfo = Request.QueryString["displaySvrInfo"];
            if (displaySvrInfo != null && displaySvrInfo.Equals("Yes"))
            {
                <!-- Machine name only needed for diagnosing Load balanced env -->
                <div class="row" style="color: silver">
                    <div class="col-md-4">Machine name: @Environment.MachineName</div>
                    <div class="col-md-4">IIS IP: @Request.ServerVariables["LOCAL_ADDR"]</div>
                    <div class="col-md-4"><pre>Server IP: @TempData["IPAddress"]</pre></div>
                </div>
            }
        }

    </footer>





    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @*@Scripts.Render("~/bundles/knockout")*@
    @RenderSection("scripts", required: false)


    <script type="text/javascript">
        require(['bootstrap'], function () {
        });
    </script>

</body>
</html>












