@using System.Configuration;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="@(Request.ApplicationPath == "/" ? "/" : Request.ApplicationPath + "/")">
    <link rel="shortcut icon icon" type="image/ico" href="favicon.ico" />
    <title>@ViewBag.Title - Links Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="~/Scripts/require.js"></script>
    <script type="text/javascript" src="~/Scripts/require.config.js"></script>
    <script type="text/javascript">
        require(["LinkService"],function (LinkService) {
            LinkService.setServiceBaseUrl("@(ConfigurationManager.AppSettings["ServicesBaseUrl"])");
        });
    </script>
    <meta name="description" content="Links application for Colleague-Manager Link Meetings and Performance appraisals" />
</head>
<body>
    @*<div>
        <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Link", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        </div>*@
    <div class="row hidden" style="padding: 0 40%; font-size: smaller">
        <div class="visible-xs">XtraSmall</div>
        <div class="visible-sm">Small</div>
        <div class="visible-md">Medium</div>
        <div class="visible-lg">Large</div>
    </div>
    <header class="link-banner link-header">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/Images/LinkLogo.png" class="logo pull-left" alt="Link logo" title="Link logo" width="120" />
                </div>
                <div class="col-md-4">
                    <h2>Colleague Appraisal System.</h2>
                </div>
                <div class="col-md-4" style="text-align:right;">
                    <img src="~/Content/Images/Logo.gif" class="comp-logo" alt="Sainsbury's Logo" title="Sainsbury's Logo" />
                </div>
            </div>

            <!--<div class="row">
                <div class="col-sm-4 col-xs-5">
                    <img src="~/Content/Images/LinkLogo.png" class="logo pull-left" alt="Link logo" title="Link logo" width="120" />
                </div>
                <div class="col-md-5 col-sm-7" style="display:inline-block;">
                    <h2>Colleague Appraisal System.</h2>
                </div>
                <div class="col-md-2 col-sm-1 hidden-xs pull-right">
                    <img src="~/Content/Images/Logo.gif" class="comp-logo" alt="Sainsbury's Logo" title="Sainsbury's Logo" />
                </div>
            </div>-->
        </div>
    </header>
    @*<div class="row">
            @Html.Partial("_Tabs", new ViewDataDictionary { { "tabName", "welcome" } })
        </div>*@

    <div class="row">
        @Html.Partial("_Tabs", new ViewDataDictionary { { "tabName", @ViewBag.Title } })
    </div>



    <div class="container">
        @RenderBody()

    </div>


    <div id="footer" style="z-index: -1000" class="row">
        

        <div class="navbar navbar-inner navbar-bottom link-footer" style="color:#ffffff;font-size:80%;">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Useful Links</h4>
                        <a href="#">Home</a><br />
                        <a href="#">My Link Reports</a><br />
                        <a href="#">My Team</a><br />
                        <a href="#">Login</a>
                    </div>
                    <div class="col-md-4">
                        <h4>Link Help</h4>
                    </div>
                    <div class="col-md-4">
                        <h4>Think Link</h4>
                        We’ve called our new performance discussions Links because they’re all about making connections between business success and individual performance. Constructive discussions, they focus on each person’s impact in the team, because it’s our vital linking relationships that give colleagues powerful collective purpose.
                    </div>
                </div>
                <br /><br />
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-4">&copy; @DateTime.Now.Year - © J Sainsbury plc 2015</div>
                </div>
            </div>

        </div>


    </div>




            @*@Scripts.Render("~/bundles/jquery")*@
            @*@Scripts.Render("~/bundles/bootstrap")*@
            @*@Scripts.Render("~/bundles/knockout")*@
            @RenderSection("scripts", required: false)


            <script type="text/javascript">
                require(['bootstrap'], function () {
                });
            </script>

</body>
</html>
