@using JsPlc.Ssc.Link.Models
@using JsPlc.Ssc.Link.Portal.Models
@using JsPlc.Ssc.Link.Portal.Properties

@{
    var tab = TempData["tabName"];

    string tabName = (tab == null) ? "Welcome" : tab.ToString().ToLower();
    
    //var manager = new UserManager<ApplicationUser>(new Microsoft.AspNet.Identity.EntityFramework.UserStore<ApplicationUser>(new ApplicationDbContext()));
    //var currentUser = manager.FindById(User.Identity.GetUserId());
    var currentUser = TempData["CurrentUser"] as LinkUserView;
    ColleagueView colleague;
    if (currentUser != null)
    {
        colleague = currentUser.Colleague;
    }
}

<div class="navbar navbar-inverse navbar-fixed-top" id="mainTabs" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li role="presentation" class="@(tabName == "Welcome" ? "active" : "") tab-heading tab-headingStart">
                    @Html.ActionLink("Home", "Welcome", "Home")
                </li>
                <li role="presentation" class="@(tabName == "help" ? "active" : "help") tab-heading">
                    @Html.ActionLink(Resources.HelpPageTitle, "help", "Home")
                </li>
                <li role="presentation" class="@(tabName == "contact" ? "active" : "") tab-heading">
                    @Html.ActionLink("Contact", "Contact", "Home")
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

