@{
    string tabName = ViewData["tabName"].ToString().ToLower();
}

<div class="navbar navbar-inverse" id="mainTabs">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*@Html.ActionLink("Link", "Welcome", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li role="presentation" class="@(tabName == "welcome" ? "active" : "") tab-heading">
                    @Html.ActionLink("Welcome", "Welcome", "Home")
                </li>
                @if (Request.IsAuthenticated)
                {
                    <li role="presentation" class="@(tabName == "create" ? "active" : "") tab-heading">
                        @Html.ActionLink("Create New", "LinkForm", "Home")
                    </li>
                    <li role="presentation" class="@(tabName == "report" ? "active" : "") tab-heading">
                        @Html.ActionLink("My Link Report", "Welcome", "Home")
                    </li>
                    <li role="presentation" class="@(tabName == "team" ? "active" : "") tab-heading">
                        @Html.ActionLink("My Team", "Welcome", "Home")
                    </li>
                }
                <li role="presentation" class="@(tabName == "contact" ? "active" : "") tab-heading">
                    @Html.ActionLink("Contact", "Contact", "Home")
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
